body {
    background-color: rgb(1,32,75)
}

.box1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.box2{
    background-color: white;
    margin-bottom: 20px;
    border-bottom: 20px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 10px;
    padding-top: 5px;
}
.box3{
    background-color: white;
}
